main {
    padding-block: 10svh;
    min-height: 80svh;
}

#bio {
    position: relative;
    height: 100%;
    div {
        align-content: center;
    }

    img {
        /* height: 50%; */
        /* width: 60%; */
        /* border-radius: 50%; */
    }


}
